body{
    background-color: #2ab274;
}

.accordion-button:hover {
    background-color: #6bd0a1;
    opacity: 50%;
}

.accordion-collapse {
    background-color: #2ab274;
}

#titulo {
    color: white;
}

.foto-jogador {
    height: 80px;
}


.foto-clube {
    height: 40px;
    margin-right: 15px;
}

.check-team {
    display: flex;
    justify-content: end;
}

.table{
    text-align: center;
}

#titulo {
    margin-top: 12px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;}

.posicao {
    display: flex;
    margin-left: inherit;
}
#listJogador:hover {
    background-color: #6c757d;
}

.list-group-item-action:hover {
    background-color: #abdde5;
}

#rules{
    display: flex;
    align-items: center;
    justify-content: left;
}

#rulesBtn{
    margin-left: 10px;
}

.navbar{
    display: block;
}
