body{
    background-color: #2ab274;
}

.accordion-button:hover {
    background-color: #6bd0a1;
    opacity: 50%;
}

.accordion-collapse {
    background-color: #2ab274;
}

#titulo {
    color: white;
}

.foto-jogador {
    height: 80px;
}


.foto-clube {
    height: 40px;
    margin-right: 15px;
}

.check-team {
    display: flex;
    justify-content: end;
}

